.button {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 5px;
  text-shadow: 0px 1px #2f6627;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
}

.button-tiny {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-shadow: none;
  color: #888;
}

.button-primary {
  background-color: #4bd368;
  border-color: #18ab29;
  color: #fff;
}
