.cart-summary-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Raleway;
  /*padding: 0 100px 20px;*/
  align-items: center;
}

.cart-summary-content {
  display: block;
}

.cart-summary-line {
  display: flex;
  justify-content: flex-end;
  padding: 2px 4px;
}

.cart-summary-item-label {
  padding: 0 8px;
}
.cart-summary-item-note {
  font-size: 16px;
  font-style: italic;
}
.cart-summary-item-count {
  padding: 0 4px;
}
.cart-summary-item-price {
  padding: 0 4px;
}
.cart-summary-item-subprice {
  padding: 0 4px;
}
.cart-summary-item-totalprice {
  padding: 0 4px;
  font-weight: bold;
}
